<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzau.sa.backstage.dao.AsClasscontrolinteractionDao">
    <select id="queryControlInteractionIdByName" parameterType="String" resultType="int">
        select controlInteractionId from controlInteraction
        where remoteControlDeviceName = #{remoteControlDeviceName}
    </select>
    <select id="queryNamesByClassId" parameterType="int" resultType="String">
        select remoteControlDeviceName from as_classcontrolinteraction
        left join controlInteraction on controlInteraction.controlInteractionId = as_classcontrolinteraction.controlInteractionId
        where classId = #{classId}
    </select>

    <select id="queryControlinteractionIdsByClassId" parameterType="int" resultType="int">
        select controlInteractionId from as_classcontrolinteraction
        where classId = #{classId}
    </select>

    <select id="queryControlinteractionIdsByNames" resultType="int">
        select controlInteractionId from controlInteraction
        where remoteControlDeviceName in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>