<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzau.sa.backstage.dao.AsTeacherclassDao">

    <select id="listByTeacherId" resultType="hzau.sa.backstage.entity.TeacherClassModel">
        select asTeacherclassId,teacherName,gradeName,className
            from as_teacherclass
            left join teacher on as_teacherclass.teacherId = teacher.teacherId
            left join class on as_teacherclass.classId = class.classId
            left join grade on class.gradeId = grade.gradeId
            where as_teacherclass.teacherId = #{teacherId}
            and className like #{keyword}
            <if test="gradeName!=null">
                and gradeName = #{gradeName}
            </if>
    </select>

    <select id="listClassWithoutTeacher" resultType="hzau.sa.backstage.entity.ClassGradeModel">
        select classId,className,class.gradeId,gradeName
            from class left join grade on class.gradeId = grade.gradeId
            where classId not in
                (select classId
                from as_teacherclass
                where as_teacherclass.teacherId = #{teacherId})
            and className like #{keyword}
            <if test="gradeName!=null">
                and gradeName = #{gradeName}
            </if>
    </select>
</mapper>