<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzau.sa.backstage.dao.DiseaseInsectDao">

    <select id="queryAllDiseaseInsect" resultType="hzau.sa.backstage.entity.DiseaseInsectIndexDTO">
        SELECT diseaseInsectId,diseaseInsectName,diseaseInsectAlias,wikiCropTypeName,diseaseInsect.createTime,diseaseInsect.createUser
        FROM diseaseInsect
        LEFT JOIN wikiCropType ON wikiCropType.wikiCropTypeId = diseaseInsect.wikiCropTypeId
        <where>
            <if test="wikiCropTypeId != null and wikiCropTypeId != '' ">
                AND diseaseInsect.wikiCropTypeId = #{wikiCropTypeId}
            </if>
            <if test="keyword != null and keyword != '' ">
                AND diseaseInsect.diseaseInsectName LIKE "%"#{keyword}"%"
            </if>
        </where>
    </select>
    <select id="queryDiseaseInsectById" resultType="hzau.sa.backstage.entity.DiseaseInsectDTO">
        SELECT diseaseInsectId,diseaseInsectName,diseaseInsectAlias,diseaseInsectLabel,wikiCropTypeName,diseaseInsectIntroduction,plantSymptom,morphologyFeature,
                livingHabit,propagationPath,occurrenceRegularity,agricultureControl,chemistryControl,diseaseInsect.createTime,diseaseInsect.createUser
        FROM diseaseInsect
        LEFT JOIN wikiCropType ON wikiCropType.wikiCropTypeId = diseaseInsect.wikiCropTypeId
        WHERE diseaseInsectId = #{diseaseInsectId}
    </select>
</mapper>