<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzau.sa.backstage.dao.RegionDao">
    <select id="page" resultType="hzau.sa.backstage.entity.RegionModel">
        select regionId,schoolName,baseName,regionName,category,region.contactPerson,region.phoneNumber
        from region
        left join school on region.schoolId=school.schoolId
        left join base on region.baseId=base.baseId
        where regionName like #{regionName}
        order by region.createTime desc
    </select>
    <select id="querySchoolIdByBaseName" resultType="java.lang.Integer">
        select schoolId
        from base
        where baseName=#{baseName}
    </select>
    <select id="queryBaseIdByBaseName" resultType="java.lang.Integer">
        select baseId
        from base
        where baseName=#{baseName}
    </select>
</mapper>