<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzau.sa.backstage.dao.SensorDao">
    <select id="selectSensorModel" resultType="hzau.sa.backstage.entity.SenesorModel">
        select sensorId,
            sensorName,
            sensorNumber,
            sensorNode,
            sensorAddress,
            sensorCommunicaton,
            remoteStatus,
            homeShow,
            sensor.deviceTypeId,
            deviceTypeName,
            sensor.baseId,
            baseName,
            sensor.regionId,
            regionName
        from sensor left join deviceType on sensor.deviceTypeId = deviceType.deviceTypeId
                    left join base on sensor.baseId = base.baseId
                    left join region on sensor.regionId = region.regionId
        <where>
            <if test="baseName != null and baseName != '' ">
                and baseName = #{baseName}
            </if>
            <if test="sensorName != null and sensorName != ''" >
                and sensorName like  concat('%',#{sensorName},'%')
            </if>
        </where>
        order by sensor.lastModifiedTime desc
    </select>
</mapper>