<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzau.sa.trainingReport.dao.DataReportDao">
    <select id="selectDataReportModelPage" resultType="hzau.sa.trainingReport.entity.DataReportModel">
        select dataReportId,cropId,dataReport.studentId,studentName,className,gradeName,dataReport.lastModifiedTime
        from dataReport left join student on dataReport.studentId = student.studentId
            left join class on student.classId = class.classId
            left join grade on student.gradeId = grade.gradeId
        where dataReport.cropId = #{cropId}
            and dataReport.studentId = #{studentId}
        order by dataReport.lastModifiedTime desc
    </select>

    <select id="selectAnalysisModel" resultType="hzau.sa.trainingReport.entity.AnalysisModel">
        select cropName,gradeName,className,studentName,dataReport.studentId
        from dataReport left join student on dataReport.studentId = student.studentId
            left join class on class.classId = student.classId
            left join grade on grade.gradeId = student.gradeId
            left join crop on dataReport.cropId = crop.cropId
        where cropId  =  #{cropId}


    </select>

    <select id="selectCropIdNameList" resultType="hzau.sa.trainingReport.entity.CropIdName">
        select cropId,cropName
        from crop
        where cropId in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

<!--    <resultMap id="studentDataReport" type="hzau.sa.trainingReport.entity.StudentDataReport">-->
<!--        <result property="studentName" column="studentName"/>-->
<!--    </resultMap>-->

<!--    <resultMap id="classDataReport" type="hzau.sa.trainingReport.entity.ClassDataReport">-->
<!--        <result property="className" column="className"/>-->
<!--        <collection property="" resultMap="studentDataReport" select=""/>-->
<!--    </resultMap>-->


<!--    <resultMap id="gradeDataReport" type="hzau.sa.trainingReport.entity.GradeDataReport">-->
<!--        <result property="gradeName" column="gradeName"/>-->
<!--        <collection property="" resultMap="classDataReport" select=""/>-->
<!--    </resultMap>-->


<!--    <resultMap id="cropDataReport" type="hzau.sa.trainingReport.entity.CropDataReport">-->
<!--        <result property="cropName" column="cropName"/>-->
<!--        <collection property="gradeDataReports"-->
<!--                    javaType="ArrayList"-->

<!--                    ofType="hzau.sa.trainingReport.entity.CropDataReport"-->
<!--                    select="">-->

<!--        </collection>-->
<!--    </resultMap>-->

</mapper>