<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzau.sa.trainingReport.dao.DataReportDao">
    <select id="selectDataReportModelPage" resultType="hzau.sa.trainingReport.entity.DataReportModel">
        select dataReportId,cropId,dataReport.studentId,studentName,className,gradeName,dataReport.lastModifiedTime
        from dataReport left join student on dataReport.studentId = student.studentId
            left join class on student.classId = class.classId
            left join grade on student.gradeId = grade.gradeId
        where dataReport.cropId = #{cropId}
            and dataReport.studentId = #{studentId}
        order by dataReport.lastModifiedTime desc
    </select>
</mapper>