<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzau.sa.trainingReport.dao.MeasuremanageDao">

    <select id="queryMeasureIdByMeasureName" resultType="java.lang.Integer">
        SELECT measureId FROM measure
        WHERE measureName = #{measureName}
    </select>
    <select id="queryCropIdByCropName" resultType="java.lang.Integer">
        SELECT cropId FROM crop
        WHERE cropName = #{cropName}
    </select>
    <select id="queryMeasureNameById" resultType="java.lang.String">
        SELECT measureName FROM measure
        WHERE measureId = #{measureId}
    </select>
    <select id="queryCropNameByCropId" resultType="java.lang.String">
        SELECT cropName FROM crop
        WHERE cropId = #{id}
    </select>
    <select id="queryGradeIdByName" resultType="java.lang.Integer">
        SELECT gradeId FROM grade
        WHERE gradeName = #{gradeName}
    </select>
    <select id="queryGradeNameById" resultType="java.lang.String">
        SELECT gradeName FROM grade
        WHERE gradeId = #{gradeId}
    </select>
    <select id="queryClassIdByName" resultType="java.lang.Integer">
        SELECT classId FROM class
        WHERE className = #{className}
    </select>
    <select id="queryClassNameById" resultType="java.lang.String">
        SELECT className FROM class
        WHERE classId = #{classId}
    </select>
    <select id="queryClassFieldByClassId" resultType="java.lang.String">
        SELECT DISTINCT field1.fieldName FROM field field1
        LEFT JOIN as_classfield field2 ON field1.fieldId = field2.fieldId
        WHERE field2.fieldId = ANY (
            SELECT fieldId FROM as_classfield
            WHERE classId = #{classId}
        )
    </select>
</mapper>